<nav class="navbar">
  <div class="navbar-brand">
    <img
      class="logo"
      routerLink="/"
      ngSrc="assets/logos/onboard-hq-logo.svg"
      alt="Onboard HQ Logo"
      width="150"
      height="40"
      priority
    />
  </div>
  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
    @if(false){
      <a routerLink="/upload" routerLinkActive="active" class="nav-link">Upload</a>
    }
  </div>
</nav>
