@use 'styles/variables' as *;
@use 'styles/typography';
@use 'styles/buttons';
@use 'styles/forms';
@use 'styles/animations';
@use 'styles/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
